* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #282B30;
    color: #ffffff;
    font-family: 'Poppins', 'sans-serif';
    transition: background-color 0.3s, color 0.3s;
}

img {
    box-shadow: 6px 8px 4px 0px rgba(0, 0, 0, .25);
    border-radius: 15px;
    object-fit: cover;
}

#github-img {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.light-mode {
    background-color: #ffffff;
    color: #000000 !important;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    padding: 25px 160px;
}

.header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 1;
}

.logo {
    font-weight: 600;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; /* Add this line to center vertically */
    height: 70px; /* Define a height for the container */
}

.logo a {
    text-decoration: none;
    color: #ffffff;
}

.logo img {
    box-shadow: none;
    border-radius: none;
    object-fit: fill;
    width: 150px;
    cursor: pointer;
}

.navbar {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar a {
    position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 50%;
    /* Start from the center */
    bottom: -2px;
    /* Adjust as needed */
    width: 0;
    height: 2px;
    background-color: #3F8CFF;
    transition: width 0.3s ease;
    /* Transition the width property */
    transform: translateX(-50%);
    /* Center the line */
}

.navbar a:hover::after,
.nav-list a.active::after {
    width: 100%;
    /* Grow the width to 100% on hover */
}

ul {
    display: inline;
}

.navbar li {
    display: inline;
    margin-right: 25px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

.theme-switcher {
    /* display: inline-block; */
    /* background-color: #ffffff;
    padding: 1px;
    width: 45px;
    height: 25px;
    border-radius: 15px; */
    cursor: pointer;

    &>img {
        box-shadow: none;
        border-radius: none;
    }
}

.round-button {
    background-color: #3F8CFF;
    height: 23px;
    width: 23px;
    border-radius: 25px;
}

.mobile-header {
    display: none;
}

/* SELF INTRO STYLING */

.self-intro {
    margin-top: 50px;
    padding: 0px 15vw;
    justify-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.potrait {
    padding-right: 50px;
}

.potrait img {
    max-height: 450px;
    max-width: 390px;
}

.text .name {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}

.text .position {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 2px;
    padding: 10px 0px;
}

.text .message {
    font-size: 16px;
}

.socmed img {
    margin-top: 15px;
    /* padding-right: 15px; */
    width: 32px;
    border-radius: 0px;
    box-shadow: none;
}

.socmed a:nth-child(2) {
    margin-left: 10px;
}

/* Tech Stack */
/* Possible merging rules for certificate and project */

.certificate-section {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificates {
    width: 1270px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.certificate {
    max-width: 400px;
    margin-bottom: 60px;
}

.tech-stack {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificate-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.certificate-img {
    width: 400px;
}

.tech-stack-title, .certificate-section-title {
    font-size: 32px;
    padding-bottom: 35px;
}

.tech-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1150px;

    margin-left: auto;
    margin-right: auto;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    background-color: #ffffff;
    border: 5px solid #6C5DD3;
    border-radius: 15px;
    box-shadow: 6px 8px 4px 0px rgba(0, 0, 0, 0.25);
    margin-right: 60px;
    margin-bottom: 30px;
}

.tech-icons img {
    max-width: 64px;
    padding: 5px;
    box-shadow: none;
    border-radius: 0px;
}

.wip {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.wip img {
    box-shadow: none;
    border-radius: 0px;
}

.wip p {
    font-size: 64px;
    text-align: center;
}

/* Project Page Styling */

.project-section {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-section-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}

.projects {
    width: 1270px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    max-width: 350px;
    margin-bottom: 60px;
}

.project-thumbnail {
    width: 350px;
    height: 190px;
}

.project-thumbnail img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.project-title {
    font-size: 28px;
    font-weight: 600;
    padding-top: 10px;
}

.project-subtitle {
    font-size: 16px;
    color: #3F8CFF;
    margin-top: -5px;
    margin-bottom: 10px;
}

.project-summary {
    font-size: 16px;
}

.bar {
    display: none;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease;
    border-radius: 5px;
}


/* Copy design card and form from admin */
.card {
    max-width: 1000px;
    min-height: 300px;
    border: 5px solid #6C5DD3;
    border-radius: 15px;
    margin: 25px auto;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    padding: 25px 60px;
}

label {
    display: block;
    text-align: start;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
}

input {
    display: block;
    width: 100%;
    height: 65px;
    padding: 10px 25px;
    margin-bottom: 40px;
    border-radius: 15px;
    border: none;
    font-family: 'Poppins', 'sans-serif';

    &:focus {
        outline: none;
    }
}

input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 18px;
}

.input-summary {
    display: block;
    background-color: white;
    color: black;
    text-align: start;
    border-radius: 15px;
    min-height: 100px;
    width: 100%;
    font-size: 18px;
    padding: 10px 25px;
    margin-bottom: 40px;

    &:focus {
        outline: none;
    }

    &:empty:before {
        content: attr(data-placeholder);
        color: gray;
    }
}

.submit-btn {
    background-color: #3F8CFF;
    color: white;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 80px auto 0px auto;
    padding: 10px;
    width: 50%;
    justify-self: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submit-btn:hover {
    background-color: #6C5DD3;
    transition: all 0.3s ease-in-out;
}

.main-section {
    text-align: center;
    margin-top: 80px;
    font-size: 24px;
}

.page-title {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: capitalize;
}

.column {
    display: flex;
    justify-content: space-between;
}

.col-item {
    width: 400px;
}


/* Mobile Responsive Layout */

@media screen and (max-width: 768px) {
    .container {
        padding: 10px 50px;
    }

    .bar {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-list {
        padding: 15px 0px;
        position: absolute;
        left: -100%;
        top: 80px;
        flex-direction: column;
        background-color: #282B30;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-top: 3px solid #6C5DD3;
        border-bottom: 3px solid #6C5DD3;
    }

    .nav-list.active {
        left: 0;
    }

    .navbar li {
        display: block;
        margin: 5px 0px;
    }

    .navbar a {
        font-size: 16px;
    }

    .logo {
        font-size: 24px;
    }

    .theme-switcher {
        display: none;
    }

    /* About Page */

    .self-intro {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .potrait {
        padding: 0px;
    }

    .potrait img {
        width: 200px;
    }

    .text {
        margin-top: 12px;
    }

    .text .position {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 30px;
    }

    .text .message,
    .text .name {
        font-size: 12px;
    }

    /* Tech Stack and Certificate Styling */

    .tech-stack {
        padding-top: 45px;
    }

    .tech-stack-title, .certificate-section-title {
        font-size: 16px;
        padding-bottom: 35px;
    }

    .icon-box {
        margin-right: 15px;
    }

    /* Certificate Section */
    .certificate-img {
        width: 100%;
        height: auto;
    }

    /* Project Page */

    .project-section {
        margin-top: 50px;
    }

    .project-section-title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .projects {
        width: 100%;
    }

    .project-thumbnail {
        width: 100%;
    }

    .project-title {
        font-size: 18px;
    }

    .project-subtitle {
        font-size: 12px;
        margin-top: 0px;
    }

    /* WIP Page */

    .wip img {
        box-shadow: none;
        border-radius: 0px;
        max-width: 250px;
    }

    .wip p {
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
    }

    /* Contact form */
    .main-section {
        margin-top: 50px;
    }

    .page-title {
        font-size: 24px;
    }

    form {
        padding: 25px 25px;
    }

    input {
        height: 45px;
        border-radius: 10px;
    }

    label {
        font-size: 18px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    .input-summary {
        font-size: 14px;
    }

    .submit-btn {
        font-size: 18px;
        height: fit-content;
        margin: 50px auto 0px auto;
    }

    /* Column Item into one block */
    .column {
        display: block;
    }

    .col-item {
        width: 100%;
    }
}